@import "tailwindcss";

/* CSS変数を Tailwind の theme に直接マッピングする */
@theme inline {
  /* フォント */
  --font-family-body: var(--font-noto);  
  --font-family-heading: var(--font-bellota);

  /* 色 */
  --color-background1: #fafafa;
  --color-background2: #fff;
  --color-background3: #00AEEF;
  --color-background4: rgba(0, 174, 239, .8);
  --color-background5: rgba(0, 174, 239, .4);
  --color-accent: #FF662E;
  --color-accent2: rgba(255, 102, 46, .4);
  --color-accent3: rgba(255, 102, 46, .8);
  --color-fc1: #000;
  --color-fc2: #fff;
  --color-gray1: #d9d9d9;
  --color-gray2: #555;
}

/* 手動でクラスを定義 */
.font-heading {
  font-family: var(--font-family-heading);
}
.font-body {
  font-family: var(--font-family-body);
}

/* 確認用 */
/* @layer base {
  .debug * {
    @apply outline outline-1 outline-red-500;
  }
} */

/* アニメーション */
@keyframes corners {
  0%   { border-radius: 55% 45% 74% 26% / 66% 32% 68% 34%; }
  25%  { border-radius: 33% 67% 44% 56% / 28% 56% 44% 72%; }
  50%  { border-radius: 29% 71% 37% 63% / 55% 40% 60% 45%; }
  75%  { border-radius: 53% 47% 53% 47% / 49% 63% 37% 51%; }
  100% { border-radius: 55% 45% 74% 26% / 66% 32% 68% 34%; }
}
@keyframes rotate {
  0%   { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}
@keyframes rotate02 {
  0%   { transform: rotate(60deg);}
  100% { transform: rotate(-300deg);}
}
@keyframes rotate03 {
  0%   { transform: rotate(-60deg);}
  100% { transform: rotate(300deg);}
}

